*{
    margin: 0;
    font-family: cursive;
    font-variant: small-caps;
}
body{
    background-color: #DBE4EE;
}
header{
    height: 100px;
    background-color: #054A91;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 5.5vh;
}
.container{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-left{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userChImg,.compChImg{
    width: 170px;
    height: 170px;
    border: none;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container-middle{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container-right{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#rock-btn{background-image: url('/Repo/RockPaperScissorGame/Images/rock.png');}
#paper-btn{background-image: url('/Repo/RockPaperScissorGame/Images/paper.png');}
#scissor-btn{background-image: url('/Repo/RockPaperScissorGame/Images/scissors.png');}

.border:hover{
    border: 5px solid #F17300;
}
.button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.score-board{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 2rem;
}
.score-info{
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#user-score , #comp-score{
    font-size: 3rem;
}
.msg-container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.msg-box{
    height: 60px;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #81A4CD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;

}
.userText,.compText{
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.hidden{
    display: none;
}

